.loginPage {
    background: url('images/welcome.jpg');
    background: linear-gradient(rgba(44, 43, 43, 0.5), rgba(51, 51, 51, 0.5)), url("images/welcome.jpg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 120%;
}

.loginForm {
    background-color: rgba(53, 86, 152, 0.6);
    color: rgb(241, 233, 233);

}